@font-face {
    font-family: iransans;
    src: url('iransans.ttf');
}




.body_login{
    background: url('back_login2.jpg');
    background-size: cover;
    font-family: iransans;
}

.card{
    opacity: 0.9;
    border-radius: 20px; 
    direction: rtl;
}


.sb-nav-fixed{ 
}


